* {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #444444;
}

.app{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1080px;
    height: 680px;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 20px #dddcdc;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    
    &__sidebar{
        background-color: #f4f6f8;
        width: 260px;
        min-height: 100%;
        border-right: 1px solid #f1f1f1;
        padding: 60px 30px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__tasks {
        flex: 1;
        padding: 60px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.bar{
    box-sizing: content-box;
    &__list{
        margin: 40px 0 40px 0;
        list-style: none;
        padding: 0;
    }
    &__item{
        position: relative;
        background: transparent;
        display: flex;
        margin-top: 2px;
        width: 200px;
        height: 40px;
        border: 2px solid transparent;
        border-radius: 8px;
        cursor: pointer;
        justify-content: flex-start;
        align-items: center;
        transition: 0.3s ease-in-out;
        
        &:hover{
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
            transform: scale(1.02);
            z-index: 1;
            padding-right: 30px;
        }
        &-active{
            background: #fff;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }
        & > span{
            display: inline-block;
            font-weight: 400;
            height: 24px;
            margin-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        & > img {
            height: 16px;
            &.icon{ 
                
            }
            &.remove{
                position: absolute;
                top: 36%;
                right: 7%;
                height: 12px;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        & > div{
            min-width: 16px;
            min-height: 16px;
            border-radius: 50%;
        }
    }
}

.add-list{
    height: 150px;
    width: 240px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    bottom: 20px;
    left: -10px;
}

.visible{
    opacity: 1;
    visibility: visible;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.no-lists{
    font-size: 14px;
    text-align: center;
    &_title{
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 3px;
    }
}

.overflow{
    &-y{
        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f9f9fd;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #dddddd;
        }
        &::-webkit-scrollbar-track {
            background-color: inherit;
        }
    }
    &-x{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

