* {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: #444444;
}

.app{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1020px;
    height: 680px;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 20px #dddcdc;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    
    &__sidebar{
        background-color: #f4f6f8;
        width: 260px;
        min-height: 100%;
        border-right: 1px solid #f1f1f1;
        padding: 40px 0 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__tasks {
        flex: 1;
        padding: 60px 80px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.bar{
    box-sizing: content-box;
    &__list{
        margin: 20px 0 20px;
        list-style: none;
        padding: 8px 0;
        max-height: 312px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__item{
        position: relative;
        background: transparent;
        display: flex;
        margin: 2px 0 2px 20px;
        width: 200px;
        height: 40px;
        border: 2px solid transparent;
        border-radius: 8px;
        cursor: pointer;
        justify-content: flex-start;
        align-items: center;
        transition: 0.3s ease-in-out;
        
        &:hover{
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
            transform: scale(1.02);
            z-index: 1;
            &::after{
                content: '';
                padding-right: 22px;
            }
        }
        &_active{
            background: #fff;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }
        & > span{
            display: inline-block;
            font-weight: 400;
            height: 24px;
            margin-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        & > img {
            height: 16px;
            &.remove{
                position: absolute;
                top: 36%;
                right: 7%;
                height: 12px;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        & > div{
            min-width: 16px;
            min-height: 16px;
            border-radius: 50%;
        }
    }
    &__add-btn > span{
        color: #bbb;
    }
}

.tasks{
    &__title{
        display: flex;
        justify-content: flex-start;
        animation-duration: 0.8s;
        animation-name: slidein;
        font-size: 46px;
        font-weight: 500;
        margin-bottom: 50px;
        position: relative;
        cursor: default;
        &:after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #F2F2F2;
        }
    }
    &__input{
        display: block;
        background: transparent;
        margin: 5px 0;
        border: none;
        outline: none;
        width: 510px;
    }
    &__edit{
        display: block;
        padding: 16px;
        margin: 10px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__wrapper{
        margin-bottom: 30px;
    }
    &__task{
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        animation-duration: 1s;
        animation-name: slidein;
        transition: 0.3s ease-in-out;
        & > label{
            padding: 1px 3px;
            display: inline-block;
            max-width: 560px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            font-size: 18px;
            cursor: pointer;
            padding-right: 10px;
        }
    }
    &__delete{
        cursor: pointer;
        display: inline-block;
        padding: 7px;
        &:hover{
            transform: scale(1.6);
        }
    }
  
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &+label {
        display: inline-flex;
        align-items: center;
        &:before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            margin-right: 14px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            transition: 0.3s ease-in-out;
        }
        &.close{
            &::before{
                transform: scale(1.2);
                border: 1px solid rgb(223, 71, 89);
            }
        }
        &:hover:before{
            transform: scale(1.1);
            background: #d3e9dc;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            cursor: pointer;
        }
    }
    &:checked+label{
        &::before {
            border-color: #4DD599;
            background-color: #4DD599;
            background-image: url("assets/img/check.svg");
        }
        &.close{
            &::before{
                border: 1px solid rgb(223, 71, 89);
                transform: scale(1.2);
            }
        }
    }
  }

.add-list{
    &__form{
        animation-duration: 0.8s;
        animation-name: slidein;
        position: absolute;
        height: 170px;
        width: 280px;
        background: #ffffff;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 20px;
        bottom: 10px;
        left: 20px;
        z-index: 1;
    }
    &__input{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 5px 10px;
        margin-bottom: 14px;
        &::placeholder{
            color:#ccc;
        }
        &:focus{
            outline: none;
            border-color: #42B883;
        }
    }
    &__colors-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__color-lable{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        transition: 0.3s ease-in-out;
        &_active{
            border: 2px solid #444444;
            transform: scale(1.3);
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
        &:not(:last-of-type){
            margin-right: 2px;
        }
    }
    &__submit{
        margin-top: 14px;
        width: 100%;
        height: 40px;
        color: #fff;
        border: none;
        border-radius: 6px;
        transition: 0.3s ease-in-out;
        &:hover{
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            font-size: 103%;
        }
    }
    &__close{
        position: absolute;
        display: block;
        cursor: pointer;
        top: -8px;
        right: -8px;
        transition: 0.3s ease-in-out;
        animation-duration: 1s;
        animation-name: slidein;
        &:hover{
            transform: scale(1.4);
        }
    }
}

.add-task{
    &__wrapper{
        animation-duration: 1s;
        animation-name: slidein;
        margin-top: 30px;
    }
    &__new{
        background: transparent;
        display: flex; 
        width: 120px;
        height: 40px;
        cursor: pointer;
        justify-content: flex-start;
        align-items: center;
        border: none;
        transition: 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        & > img{
            margin-right: 16px;
        }
        & > span{
            color: #bbb
        }
    }
    &__input{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 6px 14px;
        margin: 14px 0;
        &::placeholder{
            color:#ccc;
        }
        &:focus{
            outline: none;
            border-color: #42B883;
        }
    }
    &__submit{
        width: 160px;
        height: 40px;
        background-color: #42B883;
        border: none;
        border-radius: 6px;
        transition: 0.3s ease-in-out;
        margin-right: 10px;
        & > span {
            color: #fff;
        }
        &:hover{
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
        }
    }
    &__cancel{
        width: 100px;
        height: 40px;
        background-color: #ccc;
        border: none;
        border-radius: 6px;
        transition: 0.3s ease-in-out;
        margin-right: 10px;
        & > span {
            color: #fff;
        }
        &:hover{
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
        }
    }
}

.visible{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.no-lists{
    animation-duration: 1s;
    animation-name: slidein;
    font-size: 14px;
    color: #bbb;
    margin-left: 55px;
    &_title{
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 3px;
    }
    &_big{
        font-size: 70px;
        font-weight: 500;
        margin-bottom: 30px;
    }
}
.no-tasks{
    animation-duration: 1s;
    animation-name: slidein;
    font-size: 24px;
    color: #bbb;
}

.overflow{
    &-y{
        &::-webkit-scrollbar {
            width: 10px;
            background-color: #f9f9fd;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #dddddd;
        }
        &::-webkit-scrollbar-track {
            background-color: inherit;
        }
    }
    &-x{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@keyframes slidein {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }